ul {
  list-style-type: none;
  margin-left: 120px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(248, 7, 7);
  
  height: 10%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 28px 28px;
  text-decoration: none;

}

li a:hover {
  background-color:rgb(126, 125, 126);
}

  /*.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(161, 78, 78);
    color: white;
    text-align: center;
   }*/

   .footer{
    color: black;
    text-align: center;
   
    padding: 3px;
  
  }
  

   body{
       /*background-color: black;*/
       background-image: url("images\img8.jpg");
       
   }

  
   * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
    
  
  }

  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  h2{
      text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  body {
      font-family: Arial, Helvetica, sans-serif;
    }

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 80%;
  padding: 10px 18px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
 
}

/* Set a style for all buttons */
.btn-lg {
  background-color: rgb(34, 95, 226);
  color: white;
  padding: 12px 18px;
  /*margin: 6px 0;*/
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 6px;

  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:3%;
  margin-bottom:0%
}

.bt-lg {
  background-color: rgb(34, 95, 226);
  color: white;
  padding: 12px 18px;
  /*margin: 6px 0;*/
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 6px;

  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:3%;
  margin-bottom:0%
}
  


button:hover {
  opacity: 0.8;
}

input[type=submit]:hover{
  opacity: 0.8;

}

input[type=reset]:hover{
  opacity: 0.8;

}

input[type=submit]
{
  background-color: rgb(228, 22, 22);
  color: white;
  padding: 12px 18px;
  /*margin: 6px 0;*/
  border: none;
  cursor: pointer;
  width: 20%;
  text-align: center;
  border-radius: 4px;

  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:4%;
  margin-bottom:0%
  
}

/* styles for the cancel button */
input[type=reset] {
  width: auto;
  padding: 12px 18px;
  background-color: #803934;
  margin: 6px 0;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 22px 0 10px 0;
  position: relative;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

.container {
  padding: 14px;
}

span.fpsw {
  float: right;
  padding-top: 14px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.fpsw {
     display: block;
     float: none;
  }
 
}

p{
    text-align: center;
    line-height: 1.6;
}

