body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    
  }

h1{
  text-align: center;
}

  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: rgb(223, 163, 163);
    width: 30%;
    height: 85%;
   margin: 50px 500px ;
   
   
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width:100%;
    padding: 13px;
    margin: 4px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  td
{
    padding:0 15px;
}
  

  /* Set a style for the submit button */
  .registerbtn{
    background-color: rgb(230, 5, 5);
    color: white;
    padding: 16px 20px;
    /*margin: 8px 0;*/
    border: none;
    cursor: pointer;
    width:50%;
    opacity: 0.9;
    border-radius: 6px;
    margin-left: 18%;
   
  }

  .resetbtn {
    background-color: rgb(230, 5, 5);
    color: white;
    padding: 16px 20px;
    /*margin: 8px 0;*/
    border: none;
    cursor: pointer;
    width:70%;
    opacity: 0.9;
    border-radius: 6px;
    margin-left: 18%;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }

  .resetbtn:hover {
    opacity: 1;
  }

  h1{
      text-align: center;
  }

 