body{
  background-color: black;
}

ul {
  list-style-type: none;
  margin-left: 120px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(248, 7, 7);
  
  height: 10%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 28px 28px;
  text-decoration: none;

}

li a:hover {
  background-color:rgb(34, 29, 34);
}

body {
font-family: Arial;
margin: 0;
}

* {
box-sizing: border-box;
}

img {
vertical-align: middle;
display: block;
margin-left: auto;
margin-right: auto;
  

}

/* Position the image container (needed to position the left and right arrows) */
.container {
position: relative;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 60%;
width: auto;
padding: 10px;
margin-top: -50px;
color: rgb(10, 10, 10);
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
margin-left: 320px;
margin-right: 320px;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}*/



.footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: rgb(212, 6, 6);
 color: white;
 text-align: center;
}