body{
  background-color: white;
  font-family: Arial;
  margin: 2px
  ;
}

ul {
  list-style-type: none;
  margin-left: 120px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(248, 7, 7);
  
  height: 10%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 28px 28px;
  text-decoration: none;

}

li a:hover {
  background-color:rgb(126, 125, 126);
}



* {
box-sizing: border-box;
}

img {
vertical-align: middle;
display: block;
margin-left: auto;
margin-right: auto;
  

}

/* Position the image container (needed to position the left and right arrows) */
.container {
position: relative;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 60%;
width: auto;
padding: 10px;
margin-top: -50px;
color: rgb(10, 10, 10);
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
margin-left: 80px;
margin-right: 80px;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}


.footer{
  color: black;
  text-align: center;
 
  padding: 3px;

}

h1{
  color: red;
}

.para{
  color: rgb(155, 17, 17);
  text-align: justify;
  padding: 6px;
  max-width: 1300px;
  margin: auto;
  padding: 10px;
}

input[type=button]{
  text-align: right;
  background-color: white;
  color: red;
  vertical-align: normal;
}