body{
    background-color: white;
    font-family: Arial;
    margin:2px;
  }
  
  ul {
    list-style-type: none;
    margin-left: 120px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(248, 7, 7);
    
    height: 10%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 28px 28px;
    text-decoration: none;
  
  }
  
  li a:hover {
    background-color:rgb(126, 125, 126);
  }
  
 
  h1{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0 0 7.5px;
   
 }

 h3{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0 0 7.5px;
    font-weight: bold;
   
 }
 .content{
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 10px;
    line-height: 1.5;

 }

 * {
    box-sizing: border-box;
  }
  
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-left: 20%;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    
    padding: 16px;
    text-align: center;
   
  }
 img{
    display: block;
    width: 80%;
    height: 20%;
    
    margin-left: auto;
    margin-right: auto;
 }

 h3{
     text-align: center;
     line-height: 1.2;
 }
 p{
     text-align: justify;
    
 }

 a{
    text-decoration: none;
    color:red;
 }

 a:hover{
     background-color: red;
     color: white;

 }

 /*.footer{
    color: black;
    text-align: center;
    padding: 3px;
  
  }*/